# use the new container-based Travis infrastructure
os: linux
dist: bionic
sudo: false

language: generic

install:
  - sudo apt install apt-transport-https dirmngr
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
  - echo "deb https://download.mono-project.com/repo/ubuntu vs-bionic main" | sudo tee /etc/apt/sources.list.d/mono-official-vs.list
  - sudo apt update -qy
  - sudo apt-get install -yq nuget mono-devel monodevelop # Install MonoDevelop for mdtool utility
  - nuget restore ./src/MonoDevelop.WakaTime.sln

script:
  - mdtool --help # must be run at least once before doing `mdtool setup ...` (seemingly an mdtool bug)
  - xbuild /p:Configuration=Debug ./src/MonoDevelop.WakaTime.sln

deploy:
  provider: releases
  api_key:
    secure: "lWPB6Nq2U0EIEpCGXk/62FKaE0yxZ58ZekewwaGEW0WmGOHFhMBUHk9l0gEea7RscZ4lis5gZe/7FJJ9FXNKPwWsbeXkLnvWba75qt+ydFsCSZR21FrmDaIEFHGXXDKOrWUjQ1AXjyek9yB/j7TALqDv5JXkN7azXHAa8zMEFI9HqrC6TiclJOCiaZFwOjNVnFmYZ52QfDx4TKRpVRPgUQ5YlLInhFaeN5vL9WC6oRohltR4CPfNWwJFyjNtkA1ACNqNr20w3Nq4lyxnW23D/n/uAm/rlhCM6Uxpp+9lccTFKGZgfv8yApTQhO+ZeNIsxGSP9LdryKuhur1JK6eyPPMiA6yneNFZltkIJnk63VuswWxhl4Os1VeCfDj0FIzK8JpToHbZX9TE3dIEfQyDc/9hcQDREkBtAjyX4F2kO2FrBpoD6KIl96OL481KDDRLx0omKRPB/1to9U946sU4WxWlRwpzovIMDQ6LltjxaBmRbjNiHRwvzmTdVA/XaYfd1ll/9SzxW7ugjPUVROOQ7k4N1yMF0Yi21mKD+Y0QUPVhDEZiV0c8xRdq1PM4RpOHB4HTTTlQ4OvQ+YW/sIfy6+F+UAQL1q6fM1OQVKSaUkm5iE3Z0gdRwlHSG0zmnWwb4s/v8ym9UO+wKhrgqg6fn6DezpXbEGiP5YPVN8gDiFA="
  file_glob: true
  file: "./bin/Debug/MonoDevelop.WakaTime_*.mpack" # find the addin
  skip_cleanup: true
  on:
    tags: true
