<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net45" />
  <package id="Mono.Addins" version="1.3.8" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net45" />
  <package id="Salaros.ConfigParser" version="0.3.2" targetFramework="net45" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net45" />
  <package id="WakaTime" version="8.1.11" targetFramework="net45" />
</packages>
